* {
  margin: 0px;
}

body {
  background-color: $col-background;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: $col-text;
}

a {
  color: $col-text;
  text-decoration: none;
  transition: 0.2s;
}

:hover {
  transition: 0.2s;
}