* {
  margin: 0px;
}

body {
  background-color: $col-background;
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // color: $col-text;
}

a {
  color: $col-text;
  text-decoration: none;
  transition: 0.2s;
  :hover {
    transition: 0.2s;
  }
}
