* {
  margin: 0px;
}

html {
  overflow-x: hidden;
  color: $col-text;
}

body {
  background-color: $col-background;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $col-background;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $col-text;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  // border: 3px solid $col-nav;  /* creates padding around scroll thumb */
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

a {
  color: $col-text;
  text-decoration: none;
  transition: 0.2s;
  padding: 10px 15px;
  :hover {
    transition: 0.2s;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}