.title {
  margin-bottom: 60px;
}

#name {
  font-size: 7vw;
  font-weight: 900;
}

#role {
  font-size: 4vw;
  font-weight: 300;
  color: $col-highlight;
}

#heading {
  font-size: 4vw;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

#tools {
  color: $col-highlight;
}