.title {
  font-size: 3vw;
  font-weight: 700;
  color: $col-text;
  text-shadow: 5px 10px 8px #000;
}

#name {
  font-size: 7vw;
  text-shadow: 5px 10px 8px #000;
  // font-weight: 700;
}

#role {
  font-size: 4vw;
  color: $col-hover;
  text-shadow: 5px 10px 8px #000;
}

#tools {
  font-size: .8rem;
  font-weight: 900;
  color: $col-hover;
}