.container {
  margin: 100px 0px;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
}