#profile-image {
  border: 2px solid $col-text;
  border-radius: 50%;
  width: 20vw;
  min-width: 200px;
  margin-bottom: 50px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-blurb {
  margin-top: 20px;
  width: 70vw;
  max-width: 800px;
  font-size: 2rem;
}

@media (max-width:800px) {
  .profile-blurb {
    font-size: 1rem;
  }
}