.landing {
  color: $col-text;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: center;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (max-width: 800px) {
  #name {
    font-size: 70px;
  }
  #role {
    font-size: 25px;
  }
}