.landing {
  color: $col-text;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.landing-links {
  align-self: flex-end;
  margin-top: 40vh;
  margin-right: 5vw;
  a {
    font-size: 1.4rem;
    margin: 50px;
    border-radius: 25px;
    padding: 15px 15px;
  }
}