.landing {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.landing-title {
  margin-top: 11vh;
  margin-left: 6vw;
}

.landing-links {
  align-self: flex-end;
  margin-top: 40vh;
  margin-right: 10vw;
  a {
    font-size: 1.4rem;
    margin: 50px;
    border-radius: 25px;
    padding: 15px 15px;
  }
  a:hover {
    background-color: $col-buttons;
    color: $col-background;
  }
}

#name {
  font-size: 6rem;
}

#role {
  font-size: 3.5rem;
}