.nav--container {
  font-weight: 700;
  font-size: large;
  letter-spacing: 2px;
  /* background: rgb(3,152,158);
  background: linear-gradient(90deg, rgba(3,152,158,1) 0%, rgba(159,53,177,1) 100%); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5vw;
  min-height: 52px;
  width: 100vw;
}

.nav--container a {
  margin: 0px 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
}

.name {
  font-size: 1.7rem;
}