.nav--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10vh;
  a {
    margin: 0px 10px;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: 700;
  }
  a:hover {
    color: $col-highlight;
    path {
      fill: $col-highlight;
    }
  }
}

.nav {
  max-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  border-bottom: 2px solid $col-text;
}