.card-container {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  p {
    font-size: 1.4rem;
  }
}

.project-card {
  height: fit-content;
  border-radius: 6px;
  padding: 20px;
  transition: 0.2s;
  h1 {
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
  }
  p {
    margin-top: 16px;
  }
  img {
    border: 2px solid #fff;
    border-radius: 6px;
    width: 100%;
  }
}

.project-links {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  a {
    color: $col-highlight;
    border-radius: 25px;
    font-weight: 700;
  }
  a:hover {
    color: $col-background;
    background-color: $col-highlight;
  }
}