.title {
  text-align: center;
  margin-bottom: 60px;
}

#name {
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  font-weight: 900;
}

#role {
  font-size: 4vw;
  font-weight: 700;
  color: #f8eb2c;
}

#heading {
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

#highlight {
  color: #f8eb2c;
}

* {
  margin: 0px;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  color: #fff;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

h1, h2 {
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #151c49;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
a {
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  padding: 10px 15px;
}
a :hover {
  transition: 0.2s;
}

ul {
  list-style-type: none;
  padding: 0;
}

#bg {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #567bfd;
  background: linear-gradient(180deg, #567bfd 0%, #151c49 100%);
}

.container {
  margin: 100px 0px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
}

.landing {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  text-align: center;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (max-width: 800px) {
  #name {
    font-size: 90px;
  }

  #role {
    font-size: 35px;
  }
}
.card-container {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
.card-container p {
  font-size: 1.4rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border-radius: 6px;
  padding: 20px;
  transition: 0.2s;
}
.project-card h1 {
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}
.project-card p {
  margin-top: 16px;
  max-width: 400px;
}
.project-card img {
  border: 2px solid #fff;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
}

.project-links {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
.project-links a {
  margin: 0px 15px;
  color: #f8eb2c;
  border-radius: 25px;
  font-weight: 700;
}
.project-links a:hover {
  color: #151c49;
  background-color: #f8eb2c;
}

@media (max-width: 1300px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.nav--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10vh;
}
.nav--container a {
  margin: 0px 10px;
  padding: 10px 15px;
  border-radius: 25px;
  font-weight: 700;
}
.nav--container a:hover {
  color: #f8eb2c;
}
.nav--container a:hover path {
  fill: #f8eb2c;
}

.nav {
  max-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  border-bottom: 2px solid #fff;
}

.footer--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 10vh;
}
.footer--container a {
  margin: 0px 10px;
  padding: 10px 15px;
  border-radius: 25px;
}
.footer--container a:hover path {
  fill: #f8eb2c;
}

.footer {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  width: 95vw;
  border-top: 2px solid #fff;
}

.footer--footer-links {
  display: flex;
  align-items: center;
}

#profile-image {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 20vw;
  min-width: 200px;
  margin-bottom: 50px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-blurb {
  margin-top: 20px;
  width: 70vw;
  font-size: 2rem;
}

/*# sourceMappingURL=styles.css.map*/